@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Barber Shop</h1>
    <p class="lead">Discover your style.</p>
    <a class="btn btn-primary" href="/Appointments/Index">BOOK AN APPOINTMENT</a>
</div>

<div class="text-center">
    <div style="margin-top: 10px;"></div>
    <img src="~/images/Barbershop.webp" alt="Barber Shop Image" class="img-fluid" asp-append-version="true" />
</div>

